<div class="row">
	<div class="col-md-12">
		<form method="POST" action="index.php?controller=works&action=postCreate" class="needs-validation" novalidate>
		  	<div class="form-row">
			    <div class="form-group col-md-6">
			      	<label for="inputEmail4">Work Name</label>
			      	<input type="text" class="form-control" id="work_name" name="work_name" placeholder="Work Name" value="<?php echo $work->work_name ?>">
			    </div>
		  	</div>
		 	<div class="form-row">
			    <div class="form-group col-md-6">
			      	<label for="inputEmail4">Start Date</label>
			      	<input type="date" class="form-control" id="start_date" name="start_date" placeholder="Start Date" value="<?php echo $work->start_date ?>">
			    </div>
		  	</div>
		  	<div class="form-row">
			    <div class="form-group col-md-6">
			      	<label for="inputEmail4">End Date</label>
			      	<input type="date" class="form-control" id="end_date" name="end_date" placeholder="End Date" value="<?php echo $work->end_date ?>">
			    </div>
		  	</div>
		  	<div class="form-row">
			    <div class="form-group col-md-6">
			      	<label for="inputState">Status</label>
			      	<select id="inputState" class="form-control" name="status">
			        	<option selected>Choose...</option>
			        	<option value="1" <?php if($work->status == 1) echo 'selected' ?> >Planning</option>
			        	<option value="2" <?php if($work->status == 2) echo 'selected' ?> >Doing</option>
			        	<option value="3" <?php if($work->status == 3) echo 'selected' ?> >Complete</option>
			      	</select>
			    </div>
		  	</div>
		  	<button type="submit" class="btn btn-primary">Create</button>
		</form>
	</div>
</div>